@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
}
.box
{
    position: relative;
    width: 900px;
    height: 730px;
    background: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
}
.box::before
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 900px;
    height: 730px;
    background: linear-gradient(0deg, transparent, transparent,#ffa500,#ffc146,#ddff45);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 10s linear infinite;
}
.box::after
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 900px;
    height: 730px;
    background: linear-gradient(0deg, transparent, transparent,#ffa500,#ffc146,#ddff45);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 10s linear infinite;
    animation-delay: -5s
}
.borderline
{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderline::before
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 900px;
    height: 730px;
    background: linear-gradient(0deg, transparent, transparent,#d0312d,#ffc146,#ddff45);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 10s linear infinite;
    animation-delay: -5s;    
}
.borderline::after
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 900px;
    height: 730px;
    background: linear-gradient(0deg, transparent, transparent,#d0312d,#ffc146,#ddff45);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 10s linear infinite;
    animation-delay: -5s;  
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box form
{
    position: absolute;
    inset: 4px;
    background-color: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2
{
    color: #fff;
    font-size: 50px;
    font-weight: 750px;
    text-align: center;
    letter-spacing: 0.3em;
    text-shadow: #d0312d 3px 4px;
}
.box form .inputBox
{
    position: relative;
    width: 800px;
    margin-top: 100px;
}
.box form .inputBox input 
{
    position: relative;
    width: 100%;
    padding: 25px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span
{
    position: absolute;
    left: 0;
    padding: 25px 10px 10px;
    pointer-events: none;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #ddff45;
    font-size: 1em;
    transform: translateY(-34px)
}
.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #ddff45;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}
.box form .links
{
    display: flex;
    justify-content: space-between;
}
.box form .links a
{
    margin: 10px 5px;
    font-size: 1em;
    color: #ffc146;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color: #ffc146;
    margin: 10px 20px;
}
.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #ffc146;
    cursor: pointer;
    font-size: 1em;
    border-radius: px;
    font-weight: 600;
    width: 200px;
    margin-top: 100px;
}
.box form input[type="submit"]:active
{
    opacity: 0.8;
}

/*New page*/